*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 100px;
    background-color: rgb(39, 34, 34);
    color: orange;
    line-height: 50px;
}

.op{
    opacity: .7;
}